	<script>
    var inputELe = document.getElementById('input'); //input元素
    var labelEle =  document.getElementById('label'); //label元素
labelEle.addEventListener('click',function(e){ //给label添加事件
　　　　　alert('我被点了');
        if(inputELe.checked){ //由于点击label的时候，还没有告诉checkbo改变状态，所以当前值是false，执行else语句
            inputELe.checked = false //置为false
        }else{
            inputELe.checked = true //所以这个时候checkbox应该变成了true，状态改变成功！
        }
    });
</script>

	<style type="text/css">
.checkboxmode1{display:none;}
/*******STYLE 1*******/
.checkboxmode1 + label {
background-color: lightblue;
border: 1px solid #C1CACA;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
padding: 10px;
border-radius: 10px;
display: inline-block;
position: relative;
margin-right: 30px;}
.checkboxmode1 + label:active {
box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.checkboxmode1:checked + label {
background-color: lightgreen;
border: 1px solid #92A1AC;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
color: black;}
.checkboxmode1:checked + label:after{
content: '\2714';
position: absolute;
top: 0px;
left: 0px;
color: red;
width: 100%;
text-align: center;
font-size: 1.5em;
padding: 1px 0 0 0;
vertical-align: text-top;
}
</style>
{% extends 'blog/blog_base.html' %}

{% block blog_reedit_part %}
            <form role="form" action="reedit_result" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					 <label for="exampleInputEmail1">标题</label>
					 <input type="text" name="title" class="form-control" value="{{ article.title }}"/>
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">摘要</label>
					 <textarea name="abstract" class="form-control"  style="resize:none" >{{ article.abstract }}</textarea>
					 <p class="help-block">
						字数控制在54以内，不填写默认为空
					 </p>
				</div>
				<div class="form-group">
					 <label for="exampleInputFile">文章</label>
					 <input type="file" name="body"/>
					 <p class="help-block">
						请重新选择MarkDown文件（.md）
					 </p>
				</div>
				<div class="form-group">
					 <label>是否置顶</label>
                    {% if article.topped == True %}
					 <input type="radio" name="topped" class="input[radio]" checked="checked">置顶
					 <input type="radio" name="topped">不置顶
                    {% else %}
                     <input type="radio" name="topped" class="input[radio]">置顶
					 <input type="radio" name="topped" checked="checked">不置顶
                    {% endif %}
				</div>
				<div class="form-group">
					 <label>文章状态</label>
					 <select name="status" class="dropdown-toggle" >
                         {% if article.status == p %}
						  <option value="d">d</option>
						  <option value="p" selected>p</option>
                         {% else %}
                          <option value="d" selected>d</option>
						  <option value="p">p</option>
                         {% endif %}
					 </select>
					 <p class="help-block">
						是否完成编辑（"d"->未完成，"p"->已完成）
					 </p>
				</div>
                <div class="form-group">
					 <label>文章分类</label>
					 <select name="category" class="dropdown-toggle">
                         {%  for c in category %}
                             {% if article.category == c %}
                             <option value="{{ c }}" selected>{{ c }}</option>
                             {% else %}
                             <option value="{{ c }}">{{ c }}</option>
                             {% endif %}
                         {% endfor %}
                     </select>
				</div>
				<div class="form-group">
					 <label>标签</label><br>
                    {% for t in tags %}
                        {% if t in tags_checked %}
                            <input id={{ t }} type="checkbox" name="tags" class ="checkboxmode1" value="{{ t }}" checked="checked"> <label id="label" for="{{ t }}">{{ t }}</label>
                        {% else %}
                            <input id={{ t }} type="checkbox" name="tags" class ="checkboxmode1" value="{{ t }}"> <label id="label" for="{{ t }}">{{ t }}</label>
                        {% endif %}
                        {% endfor %}
				</div>


					<button type="submit" class="btn btn-default">修改</button>
                <h2 style="color: red">{{ message }}</h2>
			</form>

{% endblock %}
