{% extends 'blog/blog_base.html' %}

{% block blog_search_part %}

            <hr>
            {% for article in articles %}
                <h2>
				{{ article.title }}
			    </h2>
			    <p>
				{% autoescape on %}
                {{ article.abstract }}
                {% endautoescape %}
			    </p>
                <p>
				{{ article.last_modified_time|date:'Y-m-d H:i:s' }}
			    </p>
			    <p>
				 <a class="btn" href="/blog/article?title={{ article.title }}&last_modified_time={{ article.last_modified_time|date:'Y-m-d H:i:s' }}">点击查看更多</a>
			    </p>
                <hr>
            {% empty %}
            {% endfor %}

			<ul class="pagination pagination-lg">
                <li>
                    <a href="1">首页</a>
                </li>
                <li>
                    <a href={{ prev }}>前一页</a>
                </li>
				<li>
					 <a href={{ next }}>下一页</a>
				</li>
                <li>
					 <a href={{ final }}>末页</a>
				</li>
			</ul>

{% endblock %}
