<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/news/css/bootstrap3.0.1.min.css">
</head>
<body>
<div class="container">
	<div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel-inner item" style="height:300px">
                <img src="/media/image/banner/banner_4.jpg">
            </div>

        </div>
        <div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="/news/index">沙和尚首页</a>
				</li>
				<li>
					 <a href="/news/exchageproject">合作交流</a>
                </li>
			</ul>
		</div>
		<div class="col-md-12 column">
			<p>
                沙和尚工作室合作交流项目
                (此页面正在施工中)
            </p>
        </div>
	</div>
</div>

</body>
</html>