<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/news/css/bootstrap3.0.1.min.css">
</head>
<body>
<div class="container">
	<div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel-inner item">
                <img src="/media/image/banner/banner_2.jpg">
            </div>

        </div>
        <div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="/news/index">沙和尚首页</a>
				</li>
				<li>
					 <a href="/news/introduction">成果报告</a>
                </li>
			</ul>
		</div>
		<div class="col-md-12 column">
			<p>
                沙和尚工作室<br>
                        指导教师：徐江
                研究方向：物联网、大数据、人工智能、深度学习、智能驾驶。
                办公地点：N6-301、同济23楼。
            </p>
        </div>
	</div>
</div>

</body>
</html>