<!DOCTYPE HTML>
<html>
<!-- head s-->
<head>
    <title>沙和尚工作室</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>



    <!-- 红色版 -->
    <link href="/static/news/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/static/news/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/news/css/owl.carousel.min.css" rel="stylesheet" type="text/css" />


    <script src="/static/news/js/jquery-1.9.1.min.js"></script>
    <script src="/static/news/js/slide.js"></script>
    <script src="/static/news/js/owl.carousel.js"></script>
    <script src="/static/news/js/bootstrap.min.js"></script>


</head><!-- head e-->

<body class="indexbg">

<div class="qm-top">
    <div class="box weap">
        <div class="qm-nav">
            <ul class="nav">
                <li class="nl on">
                    <a href="/news/index" class="alink">
                        沙和尚首页
                    </a>
                </li>
				<li class="nl">
                    <a href="/news/introduction" class="alink" target="_blank">
                        工作室概况
                    </a>
                </li>
				<li class="nl">
                    <a href="/news/organization" class="alink" target="_blank">
                        组织机构
                    </a>
                </li>
				<li class="nl">
                    <a href="/news/exchageproject" class="alink" target="_blank">
                        合作交流
                    </a>
                </li>
				<li class="nl">
                    <a href="/news/personhiring" class="alink" target="_blank">
                        人才招聘
                    </a>
                </li>
				<li class="nl" style="float:right">
                    <a href="/member/login" class="alink" target="_blank">
                        内部博客登录
                    </a>
                </li>
                <li class="nl" style="float:right">
                    <a href="/member/register" class="alink" target="_blank">
                        注册
                    </a>
                </li>
            </ul>
        </div>
        <div class="m-nav">
            <a>
            </a>
        </div>
    </div>
</div><!--头部 e-->

    
{% block rest %}{% endblock %}
</body>
</html>