<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/news/css/bootstrap3.0.1.min.css">
</head>
<body>
<div class="container">
	<div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel-inner item" style="height: 300px">
                <img src="/media/image/banner/banner_3.jpg">
            </div>

        </div>
        <div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="/news/index">沙和尚首页</a>
				</li>
				<li>
					 <a href="/news/outstandingmember/{{  }}">组织机构</a>
                </li>
			</ul>
		</div>
		<div class="col-md-12 column">
			<p>


            </p>
        </div>
	</div>
</div>

</body>
</html>