<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/news/css/bootstrap3.0.1.min.css">
</head>
<body>
<div class="container">
	<div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel-inner item">
                <img src="/media/image/banner/banner_2.jpg">
            </div>

        </div>
        <div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="/news/index">沙和尚首页</a>
				</li>
				<li>
					 <a href="/news/personhiring">人才招聘</a>
                </li>
			</ul>
		</div>
		<div class="col-md-12 column">
			<p>
                1.沙和尚工作室欢迎所有对人工智能，大数据，智能汽车，物联网有兴趣的同学加入<br>
                2.实验室环境轻松愉快，而且有两个工作地点，方便选择
                3.所有想要加入的同学只需要通过简单的考核即可，但是学习到知识还是在于个人的努力<br>
                4.如果有兴趣请按照如下联系方式，或者登门面试<br>
                &nbsp&nbsp徐江 （指导老师）邮箱：153204277@qq.com<br>
                &nbsp&nbsp周云 （工作室成员）邮箱：919723875@qq.com<br>
                &nbsp&nbsp请务必使用邮箱联系， 请填写好备注信息<br>
                &nbsp&nbsp或者直接到学校N6-301，同济23楼进行面试<br>
                5.直接面试可能优势会没有人，请耐心。

            </p>
        </div>
	</div>
</div>

</body>
</html>