<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{% csrf_token %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar">1</span>
                         <span class="icon-bar">2</span>
                         <span class="icon-bar">3</span>
                     </button>
                    <a class="navbar-brand" href="#">Blog</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="#">Link</a>
						</li>
						<li>
							 <a href="#">Link</a>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="#">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="请输入你想搜索的内容"/>
						</div> <button type="submit" class="btn btn-default">搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="/blog/user_index">用户中心</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">意见反馈</a>
								</li>
                                <li>
									 <a href="#">资料修改</a>
								</li>
								<li>
									 <a href="#">登出</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-7 column">


			{% block editedable_area_left %}{% endblock %}


		</div>
		<div class="col-md-5 column">
            {% block editedable_area_right %}{% endblock %}
		</div>
	</div>
</div>

</body>
</html>
